$headerPadding: 40px;

.site-header {
	position: relative;
	z-index: 1;
	min-height: 100vh;
	padding: $headerPadding;

	background: $headerBg url(../images/lady.png) no-repeat;
	background-size: contain;
	background-position: 90% center;

	@media screen and (max-width: 767px) {
		background-size: cover;
		background-position: 53.5% top;
	}

	@media screen and (max-width: 767px) {
		background-size: 600px;
		min-height: 900px;
		background-position: center 230px;
	}

	@media screen and (max-width: 1170px) {
		padding: 15px;
	}
}

.site-logo {
	display: block;
	@include reset();
	line-height: 0;
	> a {
		display: inline-block;
		width: 100%;
		max-width: 300px;
	}
	img {
		display: block;
		width: 100%;
	}
}

// Menu
.main-navigation .menu-toggle {
	display: none;
}

#primary-menu {
	font-family: 'Century Gothic';
	padding: 0;
	margin: 20px 0 0 -10px;
	li {
		display: block;
		max-width: 150px;
		position: relative;
		a {
			color: $faceColor;
			font-size: 10px;
			// font-size: 15px;
			display: block;
			width: 100%;
			padding: 7px 10px;
			text-decoration: none;
			@include transition(.15s linear);
			
			&:hover,
			&:active,
			&:focus {
				background: white;
			}
		}
		.sub-menu {
			@include reset();
			list-style: none;
			position: absolute;
			z-index: 1;
			width: 100%;
			visibility: hidden;
			opacity: 0;
			@include transform(translateY(20px));
			@include transition(.15s linear);
			
			li {
				background: white;
			}
		}
		&:hover {
			.sub-menu {
				visibility: visible;
				opacity: 1;
				@include transform(translateY(0));
			}
		}
	}
}

.top-header {
	position: relative;
	z-index: 100;
}

.bottom-logo {
	display: block;
	position: absolute;
	z-index: 10;
	width: 100px;
	bottom: $headerPadding;
	left: $headerPadding;
	@media screen and (max-width: 1170px) {
		bottom: 16px;
		left: 20px;
	}
}