.site-header {
  position: relative;
  z-index: 1;
  padding: 40px;
  background: #EBEBEC;
  z-index: 5000; }
  @media screen and (max-width: 1170px) {
    .site-header {
      padding: 15px; } }

.site-logo {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0;
  padding-right: 20px; }
  .site-logo > a {
    display: inline-block;
    width: 100%;
    max-width: 300px; }
  .site-logo img {
    display: block;
    width: 100%; }

.main-navigation .menu-toggle {
  display: none; }

#primary-menu {
  font-family: 'Century Gothic';
  padding: 0;
  margin: 20px 0 0 -10px; }
  #primary-menu li {
    display: block;
    max-width: 150px;
    position: relative; }
    #primary-menu li a {
      color: #231f20;
      font-size: 10px;
      display: block;
      width: 100%;
      padding: 7px 10px;
      text-decoration: none;
      -webkit-transition: 0.15s linear;
      -moz-transition: 0.15s linear;
      transition: 0.15s linear; }
      #primary-menu li a:hover, #primary-menu li a:active, #primary-menu li a:focus {
        background: white; }
    #primary-menu li .sub-menu {
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      z-index: 1;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
      transform: translateY(20px);
      -webkit-transition: 0.15s linear;
      -moz-transition: 0.15s linear;
      transition: 0.15s linear; }
      #primary-menu li .sub-menu li {
        background: white; }
    #primary-menu li:hover .sub-menu {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }

.site-header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.top-header {
  width: 100%; }

.right-header {
  width: 100px; }
  @media screen and (max-width: 460px) {
    .right-header {
      width: 50px; } }

.top-header {
  position: relative;
  z-index: 100; }

.right-logo {
  z-index: 10;
  width: 100px; }
