#lh-section-2 .vc_separator .vc_sep_line {
	border-top: 2px solid white;
}

#lh-section-2 {
	background-size: 100% 10px !important;
	background-repeat: repeat-y !important;
	padding: $sectionPadding 0;
	color: white;
}

#lh-section-2 {
	padding-left: 0;
	padding-right: 0;
	.lh-col-title {
		padding: 0 0 20px;
		margin: 20px 0 0;
		font-size: 1.15rem;
		font-weight: 600;
		letter-spacing: 1px;
	}

	.lh-col-sub-title {
		padding: 0;
		margin: -18px 0 0;

		font-size: 1.1rem;
		line-height: 1.8rem;
		letter-spacing: 1px;
		font-weight: 400;
	}

	@media screen and (max-width: 767px) {
		.lh-col-title,
		.lh-col-sub-title {
			display: inline-block;
			margin-top: 12px;
			margin-bottom: 0;
		}
		.lh-col-sub-title {
			padding-left: 5px;
		}
	}

	.lh-col-text {
		padding: 0;
		margin: 20px 0 20px;
		font-size: 1.45rem;
		line-height: 1.45;
		letter-spacing: 1.5px;
		font-weight: 400;
		@media screen and (max-width: 767px) {
			margin: 0;
			font-size: 1.2rem;
		}
		p {
			padding: 0;
			margin: 0 0 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media screen and (max-width: 767px) {
		.wpb_column:nth-child(2) {
			.vc_separator {
				display: none;
			}
		}
	}
}